/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00bfff ;
    color: black;
    height: 50px;
    padding: 0 20px;
}
.navbar-title {
    font-size: 20px;
    font-weight: bold;
}
.navbar-dropdown {
  position: relative;
}
.navbar-dropdown-button {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  margin: 0;
  padding: 14px 16px;
  cursor: pointer;
  font-weight: 600;
}
.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  top: 50px;
}
.navbar-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar-dropdown-content a:hover {
  background-color: #ddd;
}
.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

/* Split section styles */
.split-container {
  display: flex;
  height: calc(100vh - 50px);
}
.left {
  flex: 1;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered {
  text-align: center;
}
.fragments {
  display: flex;
}
.fragment {
    border: 1px solid black;
    width: 100%;
}
.dataset {
    margin: 0.3em;
}

.datasets {
    background-color: aliceblue;
}

table, th, tr, td {
    border-collapse: collapse;
}
.feature {
    border: 2px solid black;
}